<mat-card class="mt20">
    <div mat-subheader>
        Lista de Areas
    </div>
    <table mat-table [dataSource]="areas" class="mat-elevation-z2" matSort>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let areas"> {{areas.nombreArea}} </td>
        </ng-container>

        <!-- Descripción Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let areas"> {{areas.descripcionArea}} </td>
        </ng-container>

        <!-- Modificar Column -->
        <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Modificar </th>
            <td mat-cell *matCellDef="let areas">
                <a [routerLink]="'/admin/update-areas/'+areas.id" color="primary" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </a>
            </td>
        </ng-container>

        <!-- Eliminar Column -->
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let areas">
                <a color="warn" (click)="eliminarArea(areas.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let areas; columns: displayedColumns;"></tr>
    </table>

<!--<mat-card class="mt20">
    <mat-list class="w50">
        <div mat-subheader>
            Lista de Areas
        </div>
        <mat-list-item *ngFor="let a of areas">
            <mat-icon mat-list-icon>business</mat-icon>
            <div mat-line>{{ a.nombreArea }}</div>
            <a [routerLink] = "'/admin/update-areas/'+a.id" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
            <a color="warn" class="ml10" (click) = "eliminarArea(a.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </a>
            //<button [routerLink] = "'/admin/update-areas/'+a.id" mat-flat-button color="primary" class="ml20">Modificar</button>
            //<button mat-flat-button color="warn" class="ml10" (click) = "eliminarArea(a.id)">Eliminar</button>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <br><br>
    <div class="container text-center mt20">
        <button routerLink="/admin/add-areas" mat-raised-button color="primary">Agregar Area</button>
    </div>
</mat-card>-->