<mat-card class="mt20">
    <mat-list class="w50">
        <div mat-subheader>
            Lista de Areas
        </div>
        <mat-list-item *ngFor="let a of areas">
            <mat-icon mat-list-icon>business</mat-icon>
            <div mat-line>{{ a.nombreArea }}</div>
            <a [routerLink] = "'/admin/update-areas/'+a.id" color="primary" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
            <a color="warn" class="ml10" (click) = "eliminarArea(a.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </a>
            <!--<button [routerLink] = "'/admin/update-areas/'+a.id" mat-flat-button color="primary" class="ml20">Modificar</button>
            <button mat-flat-button color="warn" class="ml10" (click) = "eliminarArea(a.id)">Eliminar</button>-->
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <br><br>
    <div class="container text-center mt20">
        <button routerLink="/admin/add-areas" mat-raised-button color="primary">Agregar Area</button>
    </div>
</mat-card>