<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon button with a menu icon">
        <mat-icon>app_registration</mat-icon>
    </a>
    <span>Portal de registro de visitantes</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-button class="example-icon favorite-icon">
        Iniciar Sesión
    </a>
    <a [routerLink]="'/signup'" mat-button class="example-icon favorite-icon">
        Registrarse
    </a>
</mat-toolbar>
