<mat-card class="mt20">
    <div mat-subheader>
        Lista de Visitantes
    </div>
    <table mat-table [dataSource]="visitantes" class="mat-elevation-z2">

        <!-- Nombres Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.nombreVisitante}} </td>
        </ng-container>

        <!-- Apellidos Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellidos </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.apellidoVisitante}} </td>
        </ng-container>

        <!-- DNI Column -->
        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef> DNI </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.dniVisitante}} </td>
        </ng-container>

        <!-- Area Column -->
        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> Area </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.area.nombreArea}} </td>
        </ng-container>

        <!-- Fecha y Hora de Ingreso Column -->
        <ng-container matColumnDef="fechaHoraIngreso">
            <th mat-header-cell *matHeaderCellDef> Fecha y Hora de Ingreso </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.fechaHoraIngreso | date : 'medium'}} </td>
        </ng-container>

        <!-- Fecha y Hora de Salida Column -->
        <ng-container matColumnDef="fechaHoraSalida">
            <th mat-header-cell *matHeaderCellDef> Fecha y Hora de Salida </th>
            <td mat-cell *matCellDef="let visitantes"> {{visitantes.fechaHoraSalida | date : 'medium'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>