<mat-card class="mt20">
    <h1>Modificar Area</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form *ngIf = "area" (ngSubmit)="actualizarArea()">

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre del Area</mat-label>
                            <input required type="text" name="nombre" matInput
                                placeholder="Ingrese el nombre del Area" [(ngModel)]="area.nombreArea"
                                (ngModelChange)="area.nombreArea = $event.toUpperCase()">
                        </mat-form-field>

                        <div class="container text-center mt20">
                            <button mat-raised-button color="primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
